* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background-color: rgb(224, 223, 223);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 197, 197);
    text-align: center;
    height: 13vh;
    font-size: 1.3rem;
    color: black;
    border: 0vh solid;
    box-shadow: 0px 6px 5px #27272733;
    -webkit-box-shadow: 0px 6px 5px #27272733;
    -moz-box-shadow: 0px 6px 5p #27272733;
    position: relative;
    z-index: 999999;
}

#image_1 img {
    margin: 2vh;
    height: 60vh;
    box-shadow: 2px 2px 12px;
}

#image_1 h1 {
    padding-left: 1rem;
}

#image_1 h2 {
    padding-left: 7rem;
}

#audio {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
}